In [ ]:
import os
import numpy as np
import pandas as pd
import sklearn
import collections
import tensorflow as tf

In [ ]:
data_path = '/home/motionlab/Desktop/weitai/project/smart_manufacturing/csv_file'
train = pd.read_csv(os.path.join(data_path, 'train.csv'))
test = pd.read_csv(os.path.join(data_path, 'test.csv'))

In [ ]:
train

In [ ]:
def print_out(data):
    for c in data.columns:
        unique = pd.unique(data[c])
        print(c)
        print('-----------------------------')
        print('number of missing values of ' + c + ':', data[c].isnull().sum())
        print('-----------------------------')
        print('number of unique element of ' + c + ':', len(unique))
        print('=============================')

In [ ]:
print_out(train)

In [ ]:
test

,id,P_ID,Date,LOG ID,Sub. ID,1-1_D,1-1_M,1-1_cell,1-1_value,1-2_D,...,5-3_value,6-1_D,6-1_M,6-1_cell,6-1_value,6-2_cell,6-2_value,6-3_cell,6-3_value,TYPE
0,2,1542,2019/01/01,7,E19010101#07,主材,M1,1.0,27.382609,主材,...,7.072,主材,M9,1.0,18.83,1.0,0.00,1.0,0.0,TYPE6
1,4,2804,2019/01/01,9,E19010101#09,主材,M1,1.0,26.108696,主材,...,7.040,主材,M9,1.0,19.60,1.0,0.00,1.0,0.0,TYPE6
2,5,3463,2019/01/01,10,E19010101#10,主材,M1,1.0,27.330435,主材,...,7.168,主材,M9,1.0,18.72,1.0,0.00,1.0,0.0,TYPE6
3,7,4873,2019/01/01,12,E19010101#12,主材,M1,1.0,26.460870,主材,...,7.168,主材,M9,1.0,18.43,1.0,0.00,1.0,0.0,TYPE6
4,10,8155,2019/01/01,16,E19010101#16,主材,M1,1.0,26.365217,主材,...,6.720,主材,M9,1.0,19.46,1.0,0.00,1.0,0.0,TYPE6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5718,10674,7142088,2019-09-27 00:00:00,59,P199A005002#E,NaN,NaN,NaN,NaN,NaN,...,19.968,主材,M9,3.0,18.97,1.0,0.07,1.0,0.0,TYPE1
5719,10675,7142384,2019-09-27 00:00:00,60,P199A005002#F,NaN,NaN,NaN,NaN,NaN,...,19.136,主材,M9,3.0,19.49,1.0,0.04,1.0,0.0,TYPE1
5720,10676,7142627,2019-09-27 00:00:00,61,P199A005002#G,NaN,NaN,NaN,NaN,NaN,...,19.104,主材,M9,3.0,18.93,1.0,0.03,1.0,0.0,TYPE1
5721,10680,7143446,2019-09-27 00:00:00,65,P199A005002#L,NaN,NaN,NaN,NaN,NaN,...,19.136,主材,M9,3.0,19.02,1.0,0.04,1.0,0.0,TYPE1
5722,10684,7144303,2019-09-27 00:00:00,69,P199A005002#Q,NaN,NaN,NaN,NaN,NaN,...,19.808,主材,M9,3.0,19.08,1.0,0.03,1.0,0.0,TYPE1

In [ ]:
test.loc[test['P_ID'] == 300788]

,id,P_ID,Date,LOG ID,Sub. ID,1-1_D,1-1_M,1-1_cell,1-1_value,1-2_D,...,5-3_value,6-1_D,6-1_M,6-1_cell,6-1_value,6-2_cell,6-2_value,6-3_cell,6-3_value,TYPE
234,480,300788,2019/01/12,4,E19011201#15,主材,M1,5.0,26.4,主材,...,16.864,主材,M9,1.0,19.68,1.0,0.0,1.0,0.0,TYPE6
247,509,300788,2019/01/12,4,E19011203#17,主材,M1,5.0,26.4,主材,...,16.864,主材,M9,1.0,19.68,1.0,0.0,1.0,0.0,TYPE6

In [ ]:
test.loc[test['P_ID'] == 312255]

,id,P_ID,Date,LOG ID,Sub. ID,1-1_D,1-1_M,1-1_cell,1-1_value,1-2_D,...,5-3_value,6-1_D,6-1_M,6-1_cell,6-1_value,6-2_cell,6-2_value,6-3_cell,6-3_value,TYPE
246,508,312255,2019/01/12,48,E19011203#13,NaN,NaN,NaN,NaN,NaN,...,8.256,主材,M9,1.0,19.14,1.0,0.0,1.0,0.0,TYPE6

In [ ]:
test.loc[test['P_ID'] == 303289]

,id,P_ID,Date,LOG ID,Sub. ID,1-1_D,1-1_M,1-1_cell,1-1_value,1-2_D,...,5-3_value,6-1_D,6-1_M,6-1_cell,6-1_value,6-2_cell,6-2_value,6-3_cell,6-3_value,TYPE
235,482,303289,2019/01/12,7,E19011201#18,主材,M1,5.0,26.3,主材,...,17.344,主材,M9,1.0,19.02,1.0,0.0,1.0,0.0,TYPE6
248,512,303289,2019/01/12,7,E19011203#20,主材,M1,5.0,26.3,主材,...,17.344,主材,M9,1.0,19.02,1.0,0.0,1.0,0.0,TYPE6

In [ ]:
test.loc[test['P_ID'] == 310182]

,id,P_ID,Date,LOG ID,Sub. ID,1-1_D,1-1_M,1-1_cell,1-1_value,1-2_D,...,5-3_value,6-1_D,6-1_M,6-1_cell,6-1_value,6-2_cell,6-2_value,6-3_cell,6-3_value,TYPE
241,500,310182,2019/01/12,37,E19011203#01,NaN,NaN,NaN,NaN,NaN,...,8.16,主材,M9,1.0,19.0,1.0,0.0,1.0,0.0,TYPE6
259,533,310182,2019/01/12,37,E19011204#25,NaN,NaN,NaN,NaN,NaN,...,8.16,主材,M9,1.0,19.0,1.0,0.0,1.0,0.0,TYPE6

In [ ]:
test.loc[test['P_ID'] == 331139]

,id,P_ID,Date,LOG ID,Sub. ID,1-1_D,1-1_M,1-1_cell,1-1_value,1-2_D,...,5-3_value,6-1_D,6-1_M,6-1_cell,6-1_value,6-2_cell,6-2_value,6-3_cell,6-3_value,TYPE
261,538,331139,2019/01/13,45,E19011301#08,主材,M1,5.0,25.147826,主材,...,9.728,主材,M9,3.0,19.44,1.0,0.0,1.0,0.0,TYPE6

In [ ]:
test.loc[test['P_ID'] == 6553264]

,id,P_ID,Date,LOG ID,Sub. ID,1-1_D,1-1_M,1-1_cell,1-1_value,1-2_D,...,5-3_value,6-1_D,6-1_M,6-1_cell,6-1_value,6-2_cell,6-2_value,6-3_cell,6-3_value,TYPE
4120,7476,6553264,2019-08-23 00:00:00,43,E197K004003#D,主材,M11,2.0,27.008696,主材,...,25.536,主材,M9,3.0,38.94,3.0,2.34,1.0,0.0,TYPE2
4321,7914,6553264,2019-08-23 00:00:00,43,E197X004002#K,主材,M11,2.0,27.008696,主材,...,25.536,主材,M9,3.0,38.94,3.0,2.34,1.0,0.0,TYPE7

In [ ]:
test.loc[test['P_ID'] == 6553601]

,id,P_ID,Date,LOG ID,Sub. ID,1-1_D,1-1_M,1-1_cell,1-1_value,1-2_D,...,5-3_value,6-1_D,6-1_M,6-1_cell,6-1_value,6-2_cell,6-2_value,6-3_cell,6-3_value,TYPE
4121,7477,6553601,2019-08-23 00:00:00,44,E197K004003#E,主材,M11,2.0,25.93913,主材,...,25.6,主材,M9,3.0,39.63,3.0,1.8,1.0,0.0,TYPE2
4322,7915,6553601,2019-08-23 00:00:00,44,E197X004002#L,主材,M11,2.0,25.93913,主材,...,25.6,主材,M9,3.0,39.63,3.0,1.8,1.0,0.0,TYPE7

In [ ]:
test.loc[test['P_ID'] == 6553942]

,id,P_ID,Date,LOG ID,Sub. ID,1-1_D,1-1_M,1-1_cell,1-1_value,1-2_D,...,5-3_value,6-1_D,6-1_M,6-1_cell,6-1_value,6-2_cell,6-2_value,6-3_cell,6-3_value,TYPE
4122,7478,6553942,2019-08-23 00:00:00,45,E197K004003#F,主材,M11,2.0,25.995652,主材,...,24.608,主材,M9,3.0,38.47,3.0,1.94,1.0,0.0,TYPE2
4323,7916,6553942,2019-08-23 00:00:00,45,E197X004002#M,主材,M11,2.0,25.995652,主材,...,24.608,主材,M9,3.0,38.47,3.0,1.94,1.0,0.0,TYPE7

In [ ]:
300788
303289
310182
6553264
6553601
6553942

In [ ]:
repeat = collections.Counter(test['P_ID'])
for i, (pid, time) in enumerate(repeat.items()):
    if time > 1:
        print(pid)

300788
303289
310182
6553264
6553601
6553942

In [ ]:
train.drop_duplicates(subset = ['P_ID'], inplace = True)
test.drop_duplicates(subset = ['P_ID'], inplace = True)
train_features = train.drop(['id', 'Date', 'LOG ID', 'Sub. ID', 'CIEX', 'CIEY', 'CIEX_DIFF', 'CIEY_DIFF', '4-2_D', '4-2_M'], axis = 1)
test_features = test.drop(['id', 'Date', 'LOG ID', 'Sub. ID', '4-2_D', '4-2_M'], axis = 1)
target = train[['CIEX', 'CIEY', 'CIEX_DIFF', 'CIEY_DIFF']]

In [ ]:
def impute_encoder(data):
    for col in data.columns:
        unique = pd.unique(data[col])
        if len(unique) < 100:
            data[col].fillna(value = data[col].value_counts().index[0], inplace = True)
            fe = data.groupby(col).size() / len(data)
            data.loc[:, col + '_encode'] = data[col].map(fe)
            data.drop([col], axis = 1, inplace = True)
        else:
            data[col].fillna(value = data[col].mean(), inplace = True)
    return data

In [ ]:
encode_train_features = impute_encoder(train_features)
encode_test_features = impute_encoder(test_features)

In [ ]:
encode_test_features

,P_ID,1-1_value,1-2_value,1-3_value,2-1_value,2-2_value,2-3_value,3-1_value,4-1_value,4-3_value,...,5-3_D_encode,5-3_M_encode,5-3_cell_encode,6-1_D_encode,6-1_M_encode,6-1_cell_encode,6-2_cell_encode,6-3_cell_encode,6-3_value_encode,TYPE_encode
0,1542,27.382609,25.865217,13.960870,28.995652,28.639130,15.086957,19.73,17.280000,3.520000,...,1.0,0.618681,0.313276,1.0,0.997201,0.385692,0.564282,1.0,1.0,0.672905
1,2804,26.108696,24.826087,13.765217,30.069565,29.604348,15.743478,19.76,17.088000,3.200000,...,1.0,0.618681,0.313276,1.0,0.997201,0.385692,0.564282,1.0,1.0,0.672905
2,3463,27.330435,26.017391,14.439130,29.034783,28.834783,15.121739,19.63,17.152000,3.200000,...,1.0,0.618681,0.313276,1.0,0.997201,0.385692,0.564282,1.0,1.0,0.672905
3,4873,26.460870,25.095652,13.695652,29.052174,28.852174,15.078261,19.77,18.080000,3.840000,...,1.0,0.618681,0.313276,1.0,0.997201,0.385692,0.564282,1.0,1.0,0.672905
4,8155,26.365217,25.008696,13.652174,29.134783,28.130435,15.173913,19.88,17.600000,3.520000,...,1.0,0.618681,0.313276,1.0,0.997201,0.385692,0.564282,1.0,1.0,0.672905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5718,7142088,26.646715,26.865945,13.830747,54.243478,54.156522,27.243478,19.96,19.281219,3.946766,...,1.0,0.209550,0.220395,1.0,0.997201,0.540843,0.564282,1.0,1.0,0.198531
5719,7142384,26.646715,26.865945,13.830747,54.186957,54.204348,27.234783,19.89,19.281219,3.946766,...,1.0,0.209550,0.220395,1.0,0.997201,0.540843,0.564282,1.0,1.0,0.198531
5720,7142627,26.646715,26.865945,13.830747,54.339130,54.304348,27.213043,19.42,19.281219,3.946766,...,1.0,0.209550,0.220395,1.0,0.997201,0.540843,0.564282,1.0,1.0,0.198531
5721,7143446,26.646715,26.865945,13.830747,54.204348,54.247826,27.208696,19.47,19.281219,3.946766,...,1.0,0.209550,0.220395,1.0,0.997201,0.540843,0.564282,1.0,1.0,0.198531
5722,7144303,26.646715,26.865945,13.830747,54.260870,54.343478,27.330435,19.37,19.281219,3.946766,...,1.0,0.209550,0.220395,1.0,0.997201,0.540843,0.564282,1.0,1.0,0.198531

In [ ]:
# encode_train_features.to_csv('/home/motionlab/Desktop/weitai/project/csv_file/encode_train_features.csv')
encode_test_features.to_csv('/home/motionlab/Desktop/weitai/project/csv_file/encode_test_features_1.csv')

In [ ]:
np.save('/home/motionlab/Desktop/weitai/project/test_array', encode_features)

In [ ]:
np.save('/home/motionlab/Desktop/weitai/project/target_array', target)